<div class="main-container" [ngStyle]="{ height: note ? 'cal(100vh+auto)' : '100vh' }">
  <header>Keeper</header>

  <div class="input-section">
    <div class="container">
      <form #inputSection="ngForm" (ngSubmit)="onAddBtnClick(inputSection.value)">
        <input type="text" placeholder="Title" name="title" *ngIf="writeMode" ngModel required />
        <textarea name="" id="" placeholder="Take a note..." (click)="onTextAreaClick()"
          [ngStyle]="{ height: writeMode ? '80px' : '25px' }" name="desc" ngModel required></textarea>
        <input *ngIf="writeMode" class="addBtn" type="submit" value="+" />
      </form>
    </div>
  </div>

  

  <section class="display-section">
    <ng-container *ngIf="loading">Loading...</ng-container>
    <ng-container *ngIf="!loading">
      <div class="display-content" *ngFor="let note of notes">
        <div class="title" style="margin-bottom: 10px; font-weight: bold">
          {{note.title}}
        </div>
        <div class="note"></div>
        {{note.desc}}
        <div class="btns">
          <button style="margin-right: 10px" (click)="onEditNote(note)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button (click)="onDeleteNote(note.id)"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </ng-container>
  </section>


  <footer>Copyright ⓒ {{year}}</footer>
</div>